<IfModule mod_rewrite.c>
    RewriteEngine On

    # Force HTTPS on production
    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP_HOST} !^localhost [NC]
    RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
